*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;

		* {
			transition-duration: 0ms !important;
		}
	}
}

a:link {
	color: $colour-brand;
}

a:visited {
	color: $colour-complement;
}

a:hover {
	color: $colour-complement;
	text-decoration-style: dashed;
}

a:active {
	border-radius: $border-rounded;
	background-color: transparentize($colour-contrast, 0.75);
}a:link {
	color: $colour-brand;
}

a:visited {
	color: $colour-complement;
}

a:hover {
	color: $colour-complement;
	text-decoration-style: dashed;
}

a:active {
	border-radius: $border-rounded;
	background-color: transparentize($colour-contrast, 0.75);
}

button {
	@extend %button;
}

summary {
	@extend %button;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: $colour-brand;
	margin-top: 2em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

ol,
ul {
	padding-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

pre,
code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, monospace;
	-moz-tab-size: 2;
	tab-size: 2;
	white-space: pre-wrap;
	white-space: break-spaces;
	overflow-wrap: anywhere;
	word-break: break-word; // overflow-wrap fallback

	@supports(overflow-wrap: anywhere) {
		word-break: normal;
	}
}

pre {
	width: 100%;
	max-width: max-content;
}

q {
	font-style: italic;

	&::before,
	&::after {
		display: inline-block;
		transform: scale(150%);
	}

	&::before {
		content: open-quote;
		padding-right: 0.25ch;
	}

	&::after {
		content: close-quote;
		padding-left: 0.25ch;
	}
}