#site-header {

$transition-duration: 0.2s;
%transition {
	transition: $transition-duration ease-out;
}

background: $colour-brand;

@media (min-width: $mq-header-wide) {
	@supports (grid-area: auto) {
		width: 9.5rem;
	}
}

.skip-to-content {
	position: absolute;
	top: -200%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	width: max-content;
	color: white;
	background: $colour-brand;
	outline: $outline-light;
	outline-offset: -0.25rem;
	padding: 0.5rem 1rem;

	&:focus {
		top: calc($spacing / 2);
	}
}

.navigation {
	height: 100%; // For position sticky
}

.menu-checkbox {
	display: inline-block;
	position: absolute;
	top: 0.6rem;
	right: 0.8rem;
	z-index: -1;
	transform: scale(0.1);

	@media (min-width: $mq-header-narrow) {
		display: none;
	}
}

.menu-button {
	@extend button;
	@extend %transition;
	flex-direction: column;
	transition-property: color;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 0.5rem;
	padding: 0.25rem;
	border: none;
	background: none;
	color: $colour-text;
	font-size: 0.8rem;
	line-height: 1.15;

	&:focus {
		background: none;
	}

	&:hover {
		background: transparentize($colour-decorate,0.8);
	}

	@media (min-width: $mq-header-narrow) {
		display: none;
	}

	&-icon {
		display: block;
		width: 1.4rem;
		height: 1.4rem;
		margin: 0 auto 0.15rem;

		.line-top-left,
		.line-top-right,
		.line-mid-left,
		.line-mid-right,
		.line-bottom-left,
		.line-bottom-right {
			@extend %transition;
			transition-property: transform, fill;
			fill: $colour-brand;
		}

		.line-top-left {
			transform-origin: 0% 10px;
		}

		.line-top-right {
			transform-origin: 100% 10px;
		}

		.line-mid-left,
		.line-mid-right {
			transform-origin: center;
		}

		.line-bottom-left {
			transform-origin: 0% calc(100% - 10px);
		}

		.line-bottom-right {
			transform-origin: 100% calc(100% - 10px);
		}
	}

	&-text {
		@extend %transition;
		transition-property: color;
		color: $colour-text;
		display: inline-block;
		width: 5ch;
	}
}

.menu-button:focus,
.menu-checkbox:focus ~ .menu-button {
	outline: $outline-dark;
}

.menu-button[aria-expanded="true"]:focus,
.menu-checkbox:checked:focus ~ .menu-button {
	outline: $outline-light;
}

.menu-button:focus:not(:focus-visible),
.menu-checkbox:focus:not(:focus-visible) ~ .menu-button {
	outline: none;
}

.menu-button[aria-expanded="true"],
.menu-checkbox:checked ~ .menu-button {
	.menu-button-icon {
		.line-top-left,
		.line-top-right,
		.line-mid-left,
		.line-mid-right,
		.line-bottom-left,
		.line-bottom-right {
			fill: white;
		}

		.line-top-left {
			transform: translate(5px, -5px) rotate(45deg) scaleX(1.1);
		}

		.line-top-right {
			transform: translate(-5px, -5px) rotate(-45deg) scaleX(1.1);
		}

		.line-mid-left,
		.line-mid-right {
			transform: scaleX(0);
		}

		.line-bottom-left {
			transform: translate(5px, 5px) rotate(-45deg) scaleX(1.1);
		}

		.line-bottom-right {
			transform: translate(-5px, 5px) rotate(45deg) scaleX(1.1);
		}
	}

	.menu-button-text {
		color: white;
	}
}

.navigation-links {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: transparentize($colour-brand,0.05);
	list-style-type: none;
	width: 100%;
	padding: 1.25rem 2.5rem 2.5rem;
	margin: 0;

	@media (min-width: $mq-header-narrow) {
		position: static;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0.75rem 1rem;
	}

	@media (min-width: $mq-header-wide) {
		@supports (grid-area: auto) {
			display: grid;
			align-items: start;
			grid-column-gap: 1rem;
			grid-row-gap: 1.25rem;
			padding: 2rem 1rem;
		}
	}

	@media (min-width: $mq-header-wide) and (min-height: 25em) {
		position: sticky;
	}

	li {
		margin: 1.5rem 0 0;

		&:first-child {
			margin-top: 0;
		}

		@media (min-width: $mq-header-narrow) {
			margin: 0;

			&:first-child {
				flex-grow: 1;
			}

			& + li {
				margin-left: 2rem;
			}
		}

		@media (min-width: $mq-header-wide) {
			@supports (grid-area: auto) {
				grid-column: 2;

				&:first-child{
					grid-row: 1/5;
					grid-column: 1;
				}

				& + li {
					margin-left: 0;
				}
			}
		}
	}

	a {
		color: white;
	}

	img {
		border-radius: 50%;
		margin-right: 0.5rem;
		width: 2rem;
		height: 2rem;
		vertical-align: middle;

		@media (min-width: $mq-header-narrow) {
			width: 1.25rem;
			height: 1.25rem;
			margin-right: 0.25rem;
		}
	}

	.navigation-name {
		line-height: 1rem;
		font-size: 1.25rem;
		font-weight: 700;
		text-decoration: none;

		@media (min-width: $mq-header-narrow) {
			font-size: 100%;
		}

		@media (min-width: $mq-header-wide) {
			@supports (grid-area: auto) {
				writing-mode: sideways-lr;

				@supports (not (writing-mode: sideways-lr)) {
					writing-mode: vertical-lr;
					transform: rotate(-180deg);
					height: -moz-max-content; // Fix for TVs supporting Grid but not max-content
					height: max-content; // Fix TVs using min-content
				}
			}
		}
	}
}

.menu-button[aria-expanded="false"] ~ .navigation-links,
.menu-checkbox ~ .navigation-links {
	transition-delay: 0ms, 0ms, $transition-duration;
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
}

.menu-button[aria-expanded="true"] ~ .navigation-links,
.menu-checkbox:checked ~ .navigation-links {
	transition-delay: 0ms;
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.menu-button[aria-expanded] ~ .navigation-links,
.menu-checkbox ~ .navigation-links {
	@extend %transition;
	transition-property: transform, opacity, visibility;

	@media (min-width: $mq-header-narrow) {
		transition: none;
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	&.prevent-transition {
		transition: none;
	}
}

}