body {
	background: $colour-decorate;

	@media (min-width: $mq-site-wide) {
		display: grid;
		grid-template-columns: auto 9.5rem;
		justify-content: center;
	}
}

#site-container {
	display: grid;
	background: white;

	@media (min-width: $mq-site-wide) {
		grid-template-rows: auto auto;
		grid-template-columns: auto minmax(auto, 69rem);

		// Internet Explorer fallback
		max-width: $mq-site-wide;
		margin: auto;
	}
}

#site-header {
	@media (min-width: $mq-site-wide) {
		grid-row: 1/-1;
		grid-column: 1;
	}
}

#site-main {
	margin: auto;
}

#site-main,
#site-footer {
	padding: 0 1rem;

	@media (min-width: $mq-site-narrow) {
		padding: 0 $spacing;
	}

	@media (min-width: $mq-site-wide) {
		grid-column: 2;
	}
}