$mq-site-wide: 95rem;
$mq-header-narrow: 36rem;
$mq-header-wide: $mq-site-wide;
$mq-hero-narrow: 36rem;
$mq-skills-narrow: 50rem;
$mq-skills-wide: 70rem;
$mq-projects-wide: 50rem;
$mq-contact-narrow: 30rem;