$mq-site-wide: 89.5rem;
$mq-header-narrow: 35rem;
$mq-header-wide: $mq-site-wide;
$mq-hero-narrow: 36rem;
$mq-skills-narrow: 32rem;
$mq-skills-wide: 63.5rem;
$mq-projects-wide: 50rem;
$mq-contact-narrow: 28rem;