%button {
	display: inline-block;
	min-height: 48px;
	min-width: 48px;
	padding: 0.5em 0.75em;
	border: 1px solid $colour-brand;
	border-radius: $border-rounded;
	text-align: center;
	background: $colour-brand;
	color: white;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $colour-contrast;
		color: $colour-complement;
		text-decoration: none;
	}

	&:active {
		background-color: $colour-decorate;
	}
}

a%button:hover,
a%button:focus {
	text-decoration: none;
}