---
"permalink": "/feed.atom"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ siteMeta.url }}/</id>
	<title>{{ siteMeta.title }} (Atom feed)</title>
	<subtitle>Where John writes about web development</subtitle>
	<updated>{{ collections.posts | getLastModifiedDate | dateToRFC3339 }}</updated>
	<icon>{{ siteMeta.url }}/img/site/icon-site-128x128.png</icon>
	<link href="{{ siteMeta.url }}/" rel="alternate"/>
	<link href="{{ siteMeta.url }}/feed.atom" rel="self"/>
	<author>
		<name>{{ siteMeta.author }}</name>
		<uri>{{ siteMeta.url }}</uri>
	</author>
	{%- for post in collections.posts %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteMeta.url) }}{% endset %}
	<entry>
		<id>{{ absolutePostUrl }}</id>
		<title>{{ post.data.title }}</title>
		<updated>{{ post.data.modified | dateToRFC3339 }}</updated>
		<author>
			<name>{{ siteMeta.author }}</name>
			<uri>{{ siteMeta.url }}</uri>
		</author>
		<content type="html">&lt;p&gt;&lt;small&gt;(About &lt;time datetime="PT{{ post.templateContent | seconds_timeToRead}}S"&gt;{{ post.templateContent | timeToRead }}&lt;/time&gt; to read)&lt;/small&gt;&lt;/p&gt;
{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
		<link href="{{ absolutePostUrl }}" rel="alternate"/>
		<published>{{ post.data.published | dateToRFC3339 }}</published>
	</entry>
	{%- endfor %}
</feed>