---
"permalink": "/feed.rss"
---
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<channel>
		<title>{{ siteMeta.title }} (RSS feed)</title>
		<link>{{ siteMeta.url }}/</link>
		<description>Where John writes about web development</description>
		<language>en-GB</language>
		<pubDate>{{ collections.posts | getLastPublishedDate | dateToRFC2822 }}</pubDate>
		<lastBuildDate>{{ collections.posts | getLastModifiedDate | dateToRFC2822 }}</lastBuildDate>
		<image>
			<url>{{ siteMeta.url }}/img/site/icon-site-128x128.png</url>
			<title>{{ siteMeta.title }}</title>
			<link>{{ siteMeta.url }}/</link>
			<width>128</width>
			<height>128</height>
		</image>
		<atom:link href="{{ siteMeta.url }}/feed.rss" rel="self" type="application/rss+xml"/>
		{%- for post in collections.posts %}
		{%- set absolutePostUrl = post.url | url | absoluteUrl(siteMeta.url) -%}
		{%- set readingTime = post.templateContent | timeToRead %}
		<item>
			<title>{{ post.data.title }}</title>
			<link>{{ absolutePostUrl }}</link>
			<description>&lt;p&gt;&lt;small&gt;(About &lt;time datetime="PT{{ readingTime [1] }}S"&gt;{{ readingTime[0] }}&lt;/time&gt; to read)&lt;/small&gt;&lt;/p&gt;
{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
			<guid>{{ absolutePostUrl }}</guid>
			<pubDate>{{ post.data.published | dateToRFC2822 }}</pubDate>
			<dc:creator>{{ siteMeta.author }}</dc:creator>
		</item>
		{%- endfor %}
	</channel>
</rss>