---
"permalink": "/feed.json"
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ siteMeta.title }}",
	"home_page_url": "{{ siteMeta.url }}/",
	"feed_url": "{{ siteMeta.url }}/feed.json",
	"description": "Where John writes about web development",
	"icon": "{{ siteMeta.url }}/img/site/icon-site-512x512.png",
	"favicon": "{{ siteMeta.url }}/img/site/icon-site-32x32.png",
	"authors": [
		{
			"name": "{{ siteMeta.author }}",
			"url": "{{ siteMeta.url }}/"
		}
	],
	"language": "en-GB",
	"items": [
		{%- for post in collections.posts %}
		{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteMeta.url) }}{% endset %}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			"title": "{{ post.data.title }}",
			"content_html": {%- if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{%- endif %},
			"date_published": "{{ post.date | dateToRfc3339 }}",
			"date_modified": "{{ post.date | dateToRfc3339 }}",
			"authors": [
				{
					"name": "{{ siteMeta.author }}",
					"url": "{{ siteMeta.url }}/"
				}
			]
		}
		{%- if not loop.last %},{%- endif %}
		{%- endfor %}
	]
}