*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;

		* {
			transition-duration: 0ms !important;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: $colour-brand;
	margin-top: 2em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

a:link {
	color: $colour-brand;
}

a:visited {
	color: $colour-complement;
}

a:hover {
	color: $colour-complement;
	text-decoration-style: dashed;
}

a:active {
	border-radius: $border-rounded;
	background-color: transparentize($colour-contrast, 0.75);
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

button {
	display: inline-block;
	min-height: 48px;
	min-width: 48px;
	padding: 0.5em 0.75em;
	border: 1px solid $colour-brand;
	border-radius: $border-rounded;
	text-align: center;
	background: $colour-brand;
	color: white;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $colour-contrast;
		color: $colour-brand;
	}

	&:active {
		background-color: $colour-decorate;
	}
}