#site-header {

%transition {
	transition: all 0.25s ease-in-out;
}

.nav-button {
	@extend %transition;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	margin: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	background: transparentize($colour-decorate,0.75);
	cursor: pointer;
	padding: 0.25rem;
	width: 2.4rem;
	height: 3rem;
	color: white;
	font-size: 0.7rem;

	&:hover {
		background: transparentize($colour-decorate,0.5);
	}
}

&[data-nav-menu="closed"] .nav-button {
	color: $colour-text;
}

.nav-icon {
	width: 1.25rem;

	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		@extend %transition;
		fill: white;
	}

	.line-top-left {
		transform-origin: 0% 10%;
		transform: translate(7.5%, -2.5%) rotate(45deg);
	}

	.line-top-right {
		transform-origin: 100% 10%;
		transform: translate(-7.5%, -2.5%) rotate(-45deg);
	}

	.line-mid-left,
	.line-mid-right {
		transform-origin: center;
		transform: scaleX(0);
	}

	.line-bottom-left {
		transform-origin: 0% 90%;
		transform: translate(7.5%, 2.5%) rotate(-45deg);
	}

	.line-bottom-right {
		transform-origin: 100% 90%;
		transform: translate(-7.5%, 2.5%) rotate(45deg);
	}
}

&[data-nav-menu="closed"] .nav-icon {
	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		fill: $colour-brand;
		transform: none;
	}
}

.navigation {
	@extend %transition;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.25rem 2.5rem 2.5rem;
	background: transparentize($colour-brand,0.05);
}

&[data-nav-menu="closed"] .navigation {
	background: transparent;
	transform: translateX(50vw) scaleX(0);
	transform-origin: right;
}

.name {
	display: block;
	margin: 0;
	color: white;
	line-height: 1em;
	font-size: 1.25em;
	text-decoration: none;
}

.heading {
	@extend %hide-visually;
}

.links {
	@extend %no-bullets;
	margin: 2rem 0 0;

	li {
		margin-top: 1.5rem;
	}

	a {
		color: white;
	}

	img {
		border-radius: 50%;
		margin-right: 0.5rem;
		max-height: 2rem;
		vertical-align: middle;
	}
}

}