#site-header {

.name {
	display: none;
}

.navigation {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5rem;
}

.heading {
	@extend %hide-visually;
}

.nav-button {
	border: none;
	border-radius: 0.5rem;
	background: transparentize($colour-decorate,0.75);
	cursor: pointer;
	padding: 0.25rem;
	width: 2.4rem;
	height: 3rem;
}

.nav-icon {
	width: 1.25rem;

	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		fill: $colour-brand;
		transition: all 5s ease-in-out;
	}

	.line-top-left {
		transform-origin: 0% 10%;
	}

	.line-top-right {
		transform-origin: 100% 10%;
	}

	.line-mid-left,
	.line-mid-right {
		transform-origin: center;
	}

	.line-bottom-left {
		transform-origin: 0% 90%;
	}

	.line-bottom-right {
		transform-origin: 100% 90%;
	}
}

.navigation[data-open="true"] .nav-icon {
	.line-top-left {
		transform: translate(7.5%, -2.5%) rotate(45deg);
	}

	.line-top-right {
		transform: translate(-7.5%, -2.5%) rotate(-45deg);
	}

	.line-mid-left {
		transform: scaleX(0);
	}

	.line-mid-right {
		transform: scaleX(0);
	}

	.line-bottom-left {
		transform: translate(7.5%, 2.5%) rotate(-45deg);
	}

	.line-bottom-right {
		transform: translate(-7.5%, 2.5%) rotate(45deg);
	}
}

.nav-text {
	font-size: 0.7rem;
}

.links {
	@extend %no-bullets;
}

.navigation[data-open="true"] .links {
	display: block;
}

.navigation[data-open="false"] .links {
	display: none;
}

}

// @media (min-width: 1420px) {
// #site-header {

// grid-column: 1;

// .navigation {
// 	position: sticky;
// 	top: 1rem;
// }

// .links {
// 	margin-right: 1rem;
// 	text-align: right;
// }

// }
// }