#site-header {

.name {
	display: none;
}

%transition {
	transition: all 0.25s ease-in-out;
}

.navigation {
	@extend %transition;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5rem;
	display: flex;
	flex-direction: row-reverse;

	&[data-open="true"] {
		background: transparentize($colour-brand,0.05);
		width: 100%;
	}
}

.heading {
	@extend %hide-visually;
}

.nav-button {
	@extend %transition;
	border: none;
	border-radius: 0.5rem;
	background: transparentize($colour-decorate,0.75);
	cursor: pointer;
	padding: 0.25rem;
	width: 2.4rem;
	height: 3rem;

	&:hover {
		background: transparentize($colour-decorate,0.5);
	}
}

.navigation[data-open="true"] .nav-button {
	background: none;
	color: white;
	fill: white;

	&:hover {
		background: transparentize($colour-decorate,0.75);
	}
}

.nav-icon {
	width: 1.25rem;

	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		@extend %transition;
		fill: $colour-brand;
	}

	.line-top-left {
		transform-origin: 0% 10%;
	}

	.line-top-right {
		transform-origin: 100% 10%;
	}

	.line-mid-left,
	.line-mid-right {
		transform-origin: center;
	}

	.line-bottom-left {
		transform-origin: 0% 90%;
	}

	.line-bottom-right {
		transform-origin: 100% 90%;
	}
}

.navigation[data-open="true"] .nav-icon {
	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		fill: white;
	}

	.line-top-left {
		transform: translate(7.5%, -2.5%) rotate(45deg);
	}

	.line-top-right {
		transform: translate(-7.5%, -2.5%) rotate(-45deg);
	}

	.line-mid-left {
		transform: scaleX(0);
	}

	.line-mid-right {
		transform: scaleX(0);
	}

	.line-bottom-left {
		transform: translate(7.5%, 2.5%) rotate(-45deg);
	}

	.line-bottom-right {
		transform: translate(-7.5%, 2.5%) rotate(45deg);
	}
}

.nav-text {
	font-size: 0.7rem;
}

.links {
	@extend %no-bullets;
	flex-grow: 1;
	margin-left: 15%;

	li {
		margin-top: 1.5rem;
	}

	a {
		color: white;
	}

	img {
		border-radius: 50%;
		margin-right: 0.5rem;
		max-height: 2rem;
		vertical-align: middle;
	}
}

.navigation[data-open="true"] .links {
	display: block;
}

.navigation[data-open="false"] .links {
	display: none;
}

}

// @media (min-width: 1420px) {
// #site-header {

// grid-column: 1;

// .navigation {
// 	position: sticky;
// 	top: 1rem;
// }

// .links {
// 	margin-right: 1rem;
// 	text-align: right;
// }

// }
// }