body {
	display: grid;
	$padding: 1rem;
	grid-template-columns: 1fr $padding minmax(calc(320px - #{$padding*2}), 1200px) $padding 1fr;
}

#site-header,
#site-footer {
	grid-column: 2/-2;
}

#site-main {
	grid-column: 3/-3;
}