body {
	max-width: 1200px;
	margin: 0 auto;

	@supports (grid-area: auto) {
		max-width: none; // Reset fallback
		display: grid;
		$padding: 1rem;
		$main: minmax(calc(320px - #{$padding*2}), 1200px);
		grid-template-columns: 1fr $padding $main $padding 1fr;

		@media (min-width: $mq-wide) {
			grid-template-columns: 1fr 9.5rem $padding $main $padding 1fr;
		}
	}
}

#site-header,
#site-footer {
	grid-column: 2/-2;
}

#site-main {
	grid-column: 3/-3;
}

@media (min-width: $mq-wide) {
	#site-header {
		grid-column: 2/3;
	}

	#site-main {
		grid-column: 4/5;
	}

	#site-footer {
		grid-column: 2/-2;
	}
}