<footer id="site-footer">
	<p><small>Site built using <a href="https://www.11ty.dev/" rel="noopener">Eleventy</a> and knowledge from <a href="/credits/">several wonderful people</a>.</small></p>
	<p><small>Source code available at <a href="https://github.com/JKC-Codes/jkc-codes.github.io" rel="noopener">GitHub</a>.</small></p>
	<p><small>&copy; John Kemp-Cruz <time datetime="2018">2018</time><span class="date-divider-text"> to </span><span aria-hidden="true">&ndash;</span><time datetime="2020">2020</time></small></p>
</footer>