<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }} — John Kemp-Cruz</title>
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/{{ css }}.css">
	<script src="/js/site.js" defer></script>
	<link rel="icon" href="/img/icon-site-16x16.png" type="image/png" sizes="16x16">
	<link rel="icon" href="/img/icon-site-32x32.png" type="image/png" sizes="32x32">
	<link rel="apple-touch-icon" href="/img/icon-site-192x192.png" sizes="192x192">
	<link rel="mask-icon" href="/img/icon-site-mask.svg" color="#203060">
	<link rel="icon" href="/img/icon-site.svg" type="image/svg+xml" sizes="any">
	<link rel="manifest" href="/js/manifest.webmanifest">
	<meta name="theme-color" content="#203060">
	<meta name="author" content="John Kemp-Cruz">
	<meta name="description" content="Portfolio of John Kemp-Cruz, a front-end web developer based in London, UK">
	<meta property="og:title" content="John Kemp-Cruz — {{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://jkc.codes/">
	<meta property="og:image" content="/img/icon-site-512x512.png">
	<meta property="og:site_name" content="John Kemp-Cruz"/>
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
				"addressCountry": "GB",
				"addressLocality": "London"
      },
      "jobTitle": "Front-end web developer",
      "name": "John Kemp-Cruz",
      "url": "https://jkc.codes/"
    }
	</script>
</head>