<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }} — John Kemp-Cruz</title>
	<link rel="icon" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/{{ css }}.css">
	<script src="/js/site.js" defer></script>
	<link rel="manifest" href="/js/manifest.webmanifest">

	<!-- SEO -->
	<meta name="author" content="John Kemp-Cruz">
	<meta name="description" content="Portfolio of John Kemp-Cruz, a front-end web developer in London, UK">
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
				"addressCountry": "GB",
				"addressLocality": "London"
      },
      "jobTitle": "Front-end web developer",
      "name": "John Kemp-Cruz",
      "url": "https://jkc.codes/"
    }
	</script>
</head>