<header id="site-header">
	<a href="#site-main" class="skip-to-content">Skip to main content</a>
	<nav id="site-nav-menu" class="navigation">
		<button type="button" aria-controls="site-nav-content" id="site-nav-menu-button" class="menu-button">
			<svg class="menu-button-icon" viewBox="0 0 100 100" aria-hidden="true">
				<rect class="line-top-left" x="0" y="0" width="60" height="20"/>
				<rect class="line-top-right" x="40" y="0" width="60" height="20"/>
				<rect class="line-mid-left" x="0" y="40" width="60" height="20"/>
				<rect class="line-mid-right" x="40" y="40" width="60" height="20"/>
				<rect class="line-bottom-left" x="0" y="80" width="60" height="20"/>
				<rect class="line-bottom-right" x="40" y="80" width="60" height="20"/>
			</svg>
			<span id="site-nav-menu-button-text">Open</span> menu
		</button>
		<ul id="site-nav-content" class="navigation-links">
			<li><a href="/" class="navigation-name">John Kemp-Cruz</a></li>
			<li><a href="/#skills"><img src="/img/icon-skills.svg" alt="" width="128" height="128">Skills</a></li>
			<li><a href="/#projects"><img src="/img/icon-projects.svg" alt="" width="128" height="128">Projects</a></li>
			<li><a href="https://github.com/JKC-Codes/" rel="noopener"><img src="/img/icon-github.svg" alt="" width="128" height="128">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/johnkempcruz/" rel="noopener"><img src="/img/icon-linkedin.svg" alt="" width="128" height="128">LinkedIn</a></li>
		</ul>
	</nav>
</header>