#projects {

margin-top: $spacing * 4;

margin-left: auto; // Grid fallback
margin-right: auto; // Grid fallback
max-width: 65ch; // Grid fallback
@supports (grid-area: auto) {
	max-width: none;
}

.introduction {
	max-width: 65ch;
	margin: 0 auto;
}

.project {
	$image-column: calc(50% - #{$spacing/2});

	position: relative;
	margin-top: $spacing * 2.5;

	&:first-of-type {
		margin-top: $spacing * 1.5;
	}

	@media (min-width: $mq-projects-wide) {
		display: grid;
		grid-template-rows: min-content min-content;
		grid-template-columns: $image-column auto;
		grid-column-gap: $spacing;

		&:nth-of-type(2n) {
			grid-template-columns: auto $image-column;
			justify-content: right;
		}
	}

	&-heading {
		@media (min-width: $mq-projects-wide) {
			@supports (grid-area: auto) {
				grid-column: 2;
				margin: 0;
			}
		}
	}

	&:nth-of-type(2n) .project-heading {
		@media (min-width: $mq-projects-wide) {
			grid-column: 1;
		}
	}

	&-screenshot {
		width: 100vw;
		object-fit: cover;
		object-position: top left;
		border: 1px solid $colour-decorate;

		@supports (object-fit: cover) {
			max-height: 50vmin;
		}

		@media (min-width: $mq-projects-wide) {
			height: 100%;
			max-height: none;
			@supports (grid-area: auto) {
				position: absolute;
				top: 0;
				left: 0;
				width: $image-column;
			}
		}
	}

	&:nth-of-type(2n) .project-screenshot {
		@media (min-width: $mq-projects-wide) {
			left: auto;
			right: 0;
		}
	}

	&-details {
		@media (min-width: $mq-projects-wide) {
			grid-column: 2;
		}
	}

	&:nth-of-type(2n) .project-details {
		@media (min-width: $mq-projects-wide) {
			grid-column: 1;
		}
	}

	&-explore {

		&-heading {
			@extend %hide-visually;
		}

		&-links {
			@extend %row;
			flex-wrap: wrap;
			margin-top: 1.5rem;
		}
	}

	&-visit-site,
	&-view-code {
		margin: 1rem 0 0 0;
	}

	&-visit-site {
		margin-right: 1rem;
	}

	&-visit-site-link,
	&-view-code-link {
		@extend %button;
		display: inline-block;
		min-width: 10rem;

		&:hover .project-view-code-text {
			text-decoration: none;
		}
	}

	&-view-code-link {
		font-family: courier, monospace;
		background: white;
		color: $colour-brand;
		text-decoration: none;
	}

	&-view-code-text {
		text-decoration: underline;
	}
}

}