#contact {
	margin-top: $spacing * 3;
	text-align: center;

	.text {
		margin: $spacing 0 0;
		font-size: 1.2em;
	}

	.link {
		@extend %button;
		display: block;
		margin: 1rem auto 0;
		width: 8.5rem;
	}

	@media (min-width: $mq-contact-narrow) {
		.text {
			display: inline-block;
			color: hsl(225, 7.5%, 48.25%);
			border: 1px solid $colour-decorate;
			border-radius: $border-rounded;
			padding-left: 1rem;
		}

		.link {
			display: inline-block;
			margin: 0 0 0 1rem;
		}
	}
}