#projects {

margin-top: $spacing * 4;

.introduction {
	max-width: 65ch;
	margin: auto;
}

.project {
	margin-top: $spacing * 2;

	&-screenshot {
		width: 100vw;
		max-height: 50vmin;
		object-fit: cover;
		object-position: top left;
		border: 1px solid $colour-decorate;
	}

	&-explore {

		&-heading {
			@extend %hide-visually;
		}

		&-links {
			@extend %row;
			flex-wrap: wrap;
			margin-top: 1.5rem;
		}
	}

	&-visit-site,
	&-view-code {
		margin: 1rem 0 0 0;
	}

	&-visit-site {
		margin-right: 1rem;
	}

	&-visit-site-link,
	&-view-code-link {
		@extend %button;
		width: 10rem;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:hover .project-view-code-text {
			text-decoration: none;
		}
	}

	&-view-code-link {
		font-family: courier, monospace;
		background: white;
		color: $colour-brand;
		text-decoration: none;
	}

	&-view-code-text {
		font-size: 95%;
		text-decoration: underline;
	}
}

}