#skills {

.heading {
	margin-bottom: 2rem;
}

.skills {
	display: grid;
	grid-gap: 2rem;

	@media (min-width: $mq-skills-narrow) {
		grid-template-columns: 1fr 1fr;
	}
}

.skill {
	border: 1px solid $colour-brand;
	max-width: 31rem; // Grid fallback
	margin: 0 auto 2rem; // Grid fallback
	@supports (grid-area: auto) {
		margin: 0;
	}
	@media (min-width: $mq-skills-narrow) {
		display: flex;
	}

	&-heading {
		position: relative;
		z-index: 0;
		display: flex;
		justify-content: center;
		margin: 0;
		font-size: 1.1em;
		color: white;

		@media (min-width: $mq-skills-narrow) {
			flex-basis: 7rem;
			flex-shrink: 0;
			align-items: center;
		}

		&::before {
			position: absolute;
			top: 0; // Necessary for Internet Explorer
			left: 0; // Necessary for Internet Explorer
			content: '';
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $colour-brand;
		}
	}

	&-list {
		margin: 1rem;
	}
}

}