#skills {
margin-top: $spacing * 4;

.skills {
	display: grid;
	grid-gap: $spacing;
	justify-content: center;

	@media (min-width: $mq-skills-narrow) {
		grid-template-columns: 1fr 1fr;
	}
}

.skill {
	border: 1px solid $colour-brand;

	@media (min-width: $mq-skills-wide) {
		display: flex;
	}

	max-width: 65ch; // Grid fallback
	margin: $spacing auto 0; // Grid fallback
	@supports (grid-area: auto) {
		max-width: none;
		margin: 0;
	}

	&-heading {
		margin: 0;
		color: white;
		background: $colour-brand;
		text-align: center;

		@media (min-width: $mq-skills-wide) {
			min-width: 8rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-list {
		margin: 1rem;
	}
}

}