*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	color: $colour-brand;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h2 {
	text-align: center;
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

a:link {
 color: $colour-complement;
}

a:visited {
 color: $colour-brand;
}

a:hover {
	color: $colour-brand;
	text-decoration-style: dotted;
}

a:active {
 color: $colour-contrast;
 text-decoration-color: $colour-contrast;
}

img {
	max-width: 100%;
}