#site-header {

	%transition {
		transition: 0.25s ease-in-out;
	}

	@media (min-width: $mq-header-narrow) {
		background: $colour-brand;
	}

	@supports (grid-area: auto) {
		@media (min-width: $mq-header-wide) {
			justify-self: end;
			width: 9.5rem;
		}
	}

	@import './header/menu-button';
	@import './header/navigation';

}