#page-header {

	position: relative;
	@extend %row;
	justify-content: space-between;
	align-items: baseline;

	#page-heading {
		margin-bottom: 0;
	}

	.feeds {
		position: absolute;
		top: 5.25rem;
		right: 0;
		min-width: 5.5rem;
		font-size: 80%;

		&-button {
			cursor: pointer;
			list-style-type: none;
			color: $colour-brand;

			&::-webkit-details-marker,
			&::marker {
				display: none;
			}

			&:hover {
				color: $colour-complement;

				svg {
					transform: rotate(30deg);
				}
			}

			svg {
				margin-right: 0.2rem;
				width: 0.8rem;
				color: hsl(30, 90%, 45%);
				transform-origin: bottom left;
				transition: transform 100ms ease-in-out;
			}
		}

		&[open] .feeds-button svg {
			transform: rotate(90deg);
		}

		&[open] .feeds-button:hover svg {
			transform: rotate(45deg);
		}

		ul.feeds-list {
			color: white;
			background: transparentize($colour-brand, 0.05);
			padding: 0.4rem 0.4rem 0.2rem 1.2rem;
			border-radius: $border-rounded;

			a {
				margin-top: 0.6rem;

				&:link {
					color: white;
				}
			}
		}
	}

}