#page-header {

	position: relative;
	@extend %row;
	justify-content: space-between;
	align-items: baseline;

	#page-heading {
		margin-bottom: 0;
	}

	.feeds {
		position: absolute;
		top: 4.5rem;
		right: 0;
		font-size: 80%;

		&-button {
			background: none;
			border-color: $colour-minimal;
			list-style: none;
			color: $colour-brand;

			&::-webkit-details-marker {
				display: none;
			}

			&::marker {
				display: none;
			}

			&:hover {
				color: $colour-complement;

				svg {
					transform: rotate(45deg);
				}
			}

			svg {
				display: inline;
				margin-right: 0.2rem;
				width: 0.8rem;
				color: hsl(30, 90%, 45%);
				transition: transform 100ms ease-in-out;
			}
		}

		&[open] .feeds-button {
			border-bottom-color: transparent;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			svg {
				transform: rotate(90deg);
			}

			&:hover svg {
				transform: rotate(45deg);
			}
		}

		ul.feeds-list {
			color: white;
			background: transparentize($colour-brand, 0.05);
			margin: 0;
			padding: 0.4rem 0.4rem 0.2rem 1.2rem;
			border-radius: 0 0 $border-rounded $border-rounded;

			a {
				margin-top: 0.6rem;

				&:link {
					color: white;
				}
			}
		}
	}

}