#projects {

display: grid;
grid-template-columns: repeat(4, 1fr);
grid-row-gap: 2rem;
grid-column-gap: 6rem;

.intro {
	grid-column: 1 / -2;
}

.section-heading {
	text-align: center;
}

.project {
	grid-column: 1 / -1;
	display: grid;
	grid-template: repeat(3, auto) / 1fr 2fr;
	grid-gap: 2rem;
}

.project-heading,
.objective-heading,
.highlights-heading {
	margin-top: 0;
}

.project-heading {
	grid-area: 1 / 1 / 2 / -1;
	justify-self: center;
}

.project-screenshot,
.project-explore {
	grid-area: 2 / 2 / -1 / -1;
}

.project-screenshot {
	clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
}

.explore-heading {
	@extend %hide-visually;
}

.explore-links {
	@extend %no-bullets;
	transform-origin: 50%;
	transform: rotate(-27deg);
	display: flex;
	justify-content: center;
	margin: 5% 0 0 0;

	& > li {
		display: inline;
	}

	& a {
		transform: rotate(27deg);
		display: inline-block;
		text-align: center;
		padding: 0.5rem 1rem;
		border: 0.05rem solid $colour-decorate;
		border-radius: $border-rounded;
		margin: 1rem 2rem;
		width: 7rem;

		&:hover {
			border-color: $colour-brand;
		}

		&:active {
			color: $colour-decorate;
			border-color: $colour-decorate;
			text-decoration-color: $colour-decorate;
		}
	}
}

}