#page-header {

	@extend %row;
	justify-content: space-between;
	align-items: baseline;

	#page-heading {
		margin-bottom: 0;
	}

	.rss {
		font-size: 80%;

		svg {
			margin-right: 0.25rem;
			color: hsl(30, 90%, 45%);
		}
	}

}