<header id="site-header">
	<p class="name">John Kemp-Cruz</p>
	<nav class="navigation" data-open="true">
		<h2 class="heading">Site navigation</h2>
		<button type="button" id="site-nav-menu-button" class="nav-button">
			<svg class="nav-icon" viewBox="0 0 100 100" aria-hidden="true">
				<rect class="line-top-left" x="0" y="0" width="60" height="20"/>
				<rect class="line-top-right" x="40" y="0" width="60" height="20"/>
				<rect class="line-mid-left" x="0" y="40" width="60" height="20"/>
				<rect class="line-mid-right" x="40" y="40" width="60" height="20"/>
				<rect class="line-bottom-left" x="0" y="80" width="60" height="20"/>
				<rect class="line-bottom-right" x="40" y="80" width="60" height="20"/>
			</svg>
			<span class="nav-text">Open menu</span>
		</button>
		<ul class="links">
			<li><a href="/#skills">Skills</a></li>
			<li><a href="/#projects">Projects</a></li>
			<li><a href="https://github.com/JKC-Codes/" rel="noopener">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/johnkempcruz/" rel="noopener">LinkedIn</a></li>
		</ul>
	</nav>
</header>