<header id="site-header">
	<button type="button" id="site-nav-menu-button" class="nav-button">
		<svg class="nav-icon" viewBox="0 0 100 100" aria-hidden="true">
			<rect class="line-top-left" x="0" y="0" width="60" height="20"/>
			<rect class="line-top-right" x="40" y="0" width="60" height="20"/>
			<rect class="line-mid-left" x="0" y="40" width="60" height="20"/>
			<rect class="line-mid-right" x="40" y="40" width="60" height="20"/>
			<rect class="line-bottom-left" x="0" y="80" width="60" height="20"/>
			<rect class="line-bottom-right" x="40" y="80" width="60" height="20"/>
		</svg>
		Menu
	</button>
	<nav class="navigation">
		<h2 class="heading">Site navigation</h2>
		<a href="/" class="name">John Kemp-Cruz</a>
		<ul class="links">
			<li><a href="/#skills"><img src="/img/icon-skills.svg" alt="An open book">Skills</a></li>
			<li><a href="/#projects"><img src="/img/icon-projects.svg" alt="A web page">Projects</a></li>
			<li><a href="https://github.com/JKC-Codes/" rel="noopener"><img src="/img/icon-github.svg" alt="Github's logo">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/johnkempcruz/" rel="noopener"><img src="/img/icon-linkedin.svg" alt="LinkedIn's logo">LinkedIn</a></li>
		</ul>
	</nav>
</header>