.menu-button-icon {
	width: 1.25rem;

	.line-top-left,
	.line-top-right,
	.line-mid-left,
	.line-mid-right,
	.line-bottom-left,
	.line-bottom-right {
		@extend %transition;
		transition-property: transform, fill;
		fill: white;
	}

	.line-top-left {
		transform-origin: 0% 10%;
		transform: translate(7.5%, -2.5%) rotate(45deg);
	}

	.line-top-right {
		transform-origin: 100% 10%;
		transform: translate(-7.5%, -2.5%) rotate(-45deg);
	}

	.line-mid-left,
	.line-mid-right {
		transform-origin: center;
		transform: scaleX(0);
	}

	.line-bottom-left {
		transform-origin: 0% 90%;
		transform: translate(7.5%, 2.5%) rotate(-45deg);
	}

	.line-bottom-right {
		transform-origin: 100% 90%;
		transform: translate(-7.5%, 2.5%) rotate(45deg);
	}
}