.navigation {
	@extend %transition;
	transition-property: transform, background-color;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.25rem 2.5rem 2.5rem;
	background: transparentize($colour-brand,0.05);

	@media (min-width: $mq-header-narrow) {
		transition: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0.75rem 1rem 0rem;
	}

	@supports (grid-area: auto) {
		@media (min-width: $mq-header-wide) {
			align-items: start;
			justify-content: space-around;
			padding: 2rem 1rem;
		}
	}

	@media (min-width: $mq-header-wide) and (min-height: 25rem) {
		position: sticky;
	}

	.navigation-heading {
		@extend %hide-visually;
	}

	@import './navigation-name';
	@import './navigation-links';
}

@media (max-width: $mq-header-narrow - 0.0625rem) {
	&[data-nav-menu-open] .navigation {
		position: absolute;
	}

	&[data-nav-menu-open="false"] .navigation {
		background: transparent;
		transform: translateY(-20.25rem);
	}
}