$mq-site-wide: 95em;
$mq-header-narrow: 55em;
$mq-hero-narrow: 34em;
$mq-skills-narrow: 50em;
$mq-skills-wide: 70em;
$mq-projects-wide: 50em;
$mq-contact-narrow: 30em;
$mq-site-narrow: $mq-projects-wide;
$mq-header-wide: $mq-site-wide;