#site-footer {
	margin-top: 6rem;
	padding-bottom: 1rem; // Fixes grey margin at bottom of page in Internet Explorer
	color: $colour-minimal;

	a:not(:hover):not(:active) {
		color: inherit;
	}

	.date-divider-text {
		@extend %hide-visually;
	}
}